node_modules/
.env
.env.*
.env*.local
.env.example
.env*.example
.DS_Store
uploads/

# server & firebase logs
server.log
firebase-debug.log
firebase-debug.*.log
# backups
mongo-backup/

# build & transpiled files
dist/
**/dist/
*.dev.js
